.sticky-note-container {
  width: 18rem;
  height: auto;
  padding-bottom: 1rem;
  background-color: rgba(255, 210, 202, 0.945);
  box-shadow: 3px 3px 10px rgba(83, 83, 83, 0.479);
  margin: 1rem;
}

.sticky-note-head {
  height: 2rem;
  background-color: rgb(253, 183, 171);
  box-shadow: 1px 1px 1px rgba(46, 46, 46, 0.116);
  width: 100%;
}
.sticky-note-body {
  padding-left: 0.3rem;
  padding-right: 0.4rem;
  color: black;
  font-size: 2rem;
  font-family: "Indie Flower", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}
